# Certbot SSL certificates and keys
certbot/conf/**
!certbot/conf/renewal/
certbot/conf/renewal/*.conf
letsencrypt/
.env
.env.*

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
